<section id="contact">
	

	<div class="container">
		<div class="service-heading center-verticaly">
		
			<h2 class = "secondary-heading">Get in Touch<h2>
			<p class = "secondary-description">1600 Pennsylvania Ave NW,Washington, DC 20500, UNited States of America>Tel: (202) 456-1111</p>
		</div>

		<div class="contact-form center-verticaly">
			<input class = "name" type="text" name="name" placeholder="Your Name*" required>
			<input class = "email" type="email" name="email" placeholder="Your Email*" required>
			<p>
				<textarea name="" id="" placeholder="Your Message"></textarea>
			</p>
		</div>


		<a href="" class="button send-message center">Send Message</a>

	</div>

</section>