<footer class="site-footer center">

<div class="container">
	
	<ul class="footer-links center">
		{% if site.facebook_username %} <li><a href="http://facebook.com/{{site.facebook_username}}" target="_blank" >Facebook</a></li> {% endif %}
		{% if site.twitter_username %}<li><a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>{% endif %}
		
		{% if site.google_username %} <li><a href="http://plus.google.com/+{{site.google_username}}" target="_blank" >Google+</a></li> {% endif %}

		{% if site.linkedin_username %} <li><a href="http://linkedin.com/in/{{site.linkedin_username}}" target="_blank" >LinkedIn</a></li> {% endif %}

		{% if site.behance_username %} <li><a href="https://www.behance.net/{{site.behance_username}}" target="_blank" >LinkedIn</a></li> {% endif %}

		{% if site.dribble_username %} <li><a href="https://dribbble.com/{{site.dribble_username}}" target="_blank" >Dribble</a></li> {% endif %}
		
		{% if site.github_username %} <li><a href="https://github.com/{{site.github_username}}" target="_blank" >Github</a></li> {% endif %}
		
		
		
	</ul>

</div>


</footer>
