<section id="our-team">
	
	<div class="container">
		
		<div class="team-heading center-verticaly">
		
			<h2 class = "secondary-heading">Meet Our Beutifull team<h2>
			<p class = "secondary-description">We are a small team of designers and developers,who help brands with big ideas</p>
		</div>

		<div class="our-services">
			<div class="row center-verticaly">
				<div class="team block">
						<div class="team-member">
							
						</div>

						<h3>Anne Hathaway</h3>
						<p class = "position">CEO / Marketing Guru</p>
						<p class = "member-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas tenetur ea eum culpa incidunt vero, porro ullam doloremque.</p>
						<div class="icon center">{% include /icons/facebook.svg %}</div>
					

				</div>

				<div class="team block">
						<div class="team-member">
							
						</div>
						<h3>Kate upton</h3>
						<p class = "position">Creative Director</p>
						<p class = "member-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas tenetur ea eum culpa incidunt vero, porro ullam doloremque.</p>
						<div class="icon center">{% include /icons/facebook.svg %}</div>
					

				</div>

				<div class="team block">
						<div class="team-member">
							
						</div>
						<h3>Olivia Wilde</h3>
						<p class = "position">Lead Designer</p>
						<p class = "member-info" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas tenetur ea eum culpa incidunt vero, porro ullam doloremque.</p>
						<div class="icon center">{% include /icons/facebook.svg %}</div>
					

				</div>

				<div class="team block">
						<div class="team-member">
							
						</div>
						<h3>Ashley greene</h3>
						<p class = "position">Seo / Developer</p>
						<p class = "member-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas tenetur ea eum culpa incidunt vero, porro ullam doloremque.</p>
						<div class="icon center">{% include /icons/facebook.svg %}</div>
					

				</div>
			</div>
		</div>

</section>
