<section id="portfolio">
	
		<div class="container">
			
				<div class="portfolio-heading center-verticaly">
					
						<h2 class="secondary-heading">
							Our Portfolio
						</h2>
						<p class="secondary-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid natus nihil molestias omnis, pariat </p>

				</div>

				<div class="projects">
					
					<ul class="tabs">
						<li><a class = "active" href="#/one">All</a></li>
						<li><a href="#/two">Web</a></li>
						<li><a href="#/three">Apps</a></li>
						<li><a href="#/four">Icons</a></li>
					
					</ul>

					 <div id="terms">
					 	<div class="container">
							<div class="row">
								<div class = "project">
							
									<img src="/assets/img/projects/project1.png">
									<p class="project-name center-verticaly">Isometric perspective Mock-up</p>
								</div>
								<div class = "project ">
							
									<img src="/assets/img/projects/project2.png">
									<p class="project-name center-verticaly ">time zone app ui</p>
								</div>
								<div class = "project">
							
									<img src="/assets/img/projects/project3.png">
									<p class="project-name center-verticaly">viro media players ui</p>
								</div>
								<div class = "project">
							
									<img src="/assets/img/projects/project4.png">
									<p class="project-name center-verticaly">blog / magazine flat ui kit</p>
								</div>
							</div>
								
								<a href="" class="button load-projects center">Load More Projects</a>
								

							</div>
					  	</div>



					</div>




		</div>
	







</section>