<section id="services">
	
	<div class="container">
		<div class="service-heading center-verticaly">
		
			<h2 class = "secondary-heading">Services we provide<h2>
			<p class = "secondary-description">We are working with both individuals and businesses from all over the globe to create awesome
			websites and applications.</p>
		</div>
	
	<div class="our-services">
			<div class="row center-verticaly">
				
				<div class="service block">
						<div class = "center">
							<img src="/assets/img/flag.png">
						</div>
					
					<h3>Branding</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti veritatis nam </p>
				</div>

				<div class="service block">
					<div class="center">
						<img src="/assets/img/pen.png">
					</div>
					
					<h3>Design</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti veritatis nam </p>
				</div>

				<div class="service block">
					<div class="center">
						<img src="/assets/img/wheels.png">
					</div>
					
					<h3>Development</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti veritatis nam !</p>
				</div>

				<div class="service block">
					<div class="center">
						<img src="/assets/img/rocket.png">
					</div>
					<h3>Rocket Science</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti veritatis nam </p>
				</div>



			</div>

		</div>


	</div>




</section>

