<section id="skills">
	<div class="container">
		
		<div class="skills-heading center-verticaly">
		
			<h2 class = "secondary-heading">We got skills!<h2>
			<p class = "secondary-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est magni ut impedit optio explicabo minima, inventore fugiat alias enim</p>
		</div>

		<div class="our-skills">
			
				<div class="row center-vertically">
					<div class="skill block">
					
						<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                             <circle r="80" cy="100" cx="100" stroke-width="14" stroke="#dfe8ed" fill="none"/>
                             <circle class="progress" r="80" cy="100" cx="100" stroke-width="14" stroke="#30bae7"  fill="none"/>
                             <text class = "percent-text
                             " x="50%" y="50%"  text-anchor="middle"  stroke-width="1px" dy=".3em">90%</text>
                        </svg>
                       
						<div class="center">
							 <h3 class = "skill-name center">Web design</h3>
						</div>
                       
   



					</div>
					<div class="skill block">
						
						<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                             <circle r="80" cy="100" cx="100" stroke-width="14" stroke="#dfe8ed" fill="none"/>
                             <circle class="progress" r="80" cy="100" cx="100" stroke-width="14" stroke="#d74680"  fill="none"/>
                             <text class = "percent-text
                             " x="50%" y="50%"  text-anchor="middle"  stroke-width="1px" dy=".3em">30%</text>
                        </svg>
							
                        <h3 class = "skill-name center">HTml / css</h3>
					</div>


                        
					<div class="skill block">
						<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                             <circle r="80" cy="100" cx="100" stroke-width="14" stroke="#dfe8ed" fill="none"/>
                             <circle class="progress" r="80" cy="100" cx="100" stroke-width="14" stroke="#15c7a8"  fill="none"/>
                             <text class = "percent-text
                             " x="50%" y="50%"  text-anchor="middle"  stroke-width="1px" dy=".3em">50%</text>
                        </svg>

                        <h3 class = "skill-name center">Graphic design</h3>
					</div>

					<div class="skill block">
						<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                             <circle r="80" cy="100" cx="100" stroke-width="14" stroke="#dfe8ed" fill="none"/>
                             <circle class="progress" r="80" cy="100" cx="100" stroke-width="14" stroke="#eb7d4b"  fill="none"/>
                             <text class = "percent-text
                             " x="50%" y="50%"  text-anchor="middle"  stroke-width="1px" dy=".3em">95%</text>
                        </svg>
						
                        <h3 class = "skill-name center">Ui / UX</h3>
					</div>

				</div>



		</div>
			


	</div>
</section>