<section id="testemonials">

	<div class="container">
		<div class="testemonials-heading center-verticaly">
		
			<h2 class = "secondary-heading">What people say about us<h2>
			<p class = "secondary-description">Our clients love us</p>
	</div>
	<div class="testemonials">
		<div class="container">
			<div class="row">

				<div class="single-testemonial">
					<div class = "client-image">
					
						{% include icons/person-image.svg %}
					</div>
					<div class="client-text">
							<blockquote>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ea minima animi, error beatae maxime a, molestiae ."</blockquote>

					<h4>Chanel Iman</h4>
					<p>CEO of Printerest</p>
					</div>
				
				</div>

				<div class="single-testemonial">
					<div class = "client-image">
						{% include icons/person-image.svg %}
					</div>
					<div class="client-text">
							<blockquote>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ea minima animi, error beatae maxime a, molestiae ."</blockquote>

							<h4>Adriana Lima</h4>
							<p>Founder of Instagram</p>
					</div>
				
				</div>

				<div class="single-testemonial">
					<div class = "client-image">
						{% include icons/person-image.svg %}
					</div>
					<div class="client-text">
							<blockquote>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ea minima animi, error beatae maxime a, molestiae."</blockquote>

							<h4>Anne Hathaway</h4>
							<p>Lead Designer Beehance</p>
					</div>
			
				</div>

				<div class="single-testemonial">
					<div class = "client-image">
						{% include icons/person-image.svg %}
					</div>
					<div class="client-text">
							<blockquote>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ea minima animi, error beatae maxime a, molestiae ."</blockquote>

							<h4>Emma Stone</h4>
							<p>Co-Fonder of Shazam</p>
					</div>
			
				</div>
				
			</div>	
	

		</div>
	</div>
	

</section>