/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

*{
  box-sizing:border-box;
}

/* 
Grid System
*
*/


.container{
  width: 100%;
  margin:0 auto;
  max-width: 1100px;
  box-sizing:border-box;

}

.row{
  overflow: hidden;
}

.center-verticaly{
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items:center;
}

/*
 * Header  
 *
*/  

header{
  background-color:#87509c;
  height: 600px;
}


.logo{
  float: left;
  margin: 58px 0px 0px 43px;
}

nav{
  float: right;
  margin: 58px 26px 0px 0px;

}

nav ul li{
  display: inline-block;
  padding:5px 20px;
 
  border-radius:5px;
  margin-right: 15px;
}

nav ul li:first-child{
   background-color: #643a79;
}

nav ul li a{
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
}

.action-cal {
    margin-top: 145px;
    text-align: center;
}


header h1{
  color: #f7f3ea;
  font-size: 42px;

}

header .button {
 
  width: 27%;;
  height: 67px;
  padding:29px 85px;
  background-color:#eb7b4b;
  border-radius:4px;
  margin: auto;
  margin-top: 62px;
}

.button {
  color: #fff;
  text-decoration:none; 
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  box-shadow:0px 4px 0px 1px #C86A40;

}

/* Repetaing Content */


.secondary-heading{
   text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.secondary-description{
   font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
}

.secondary-heading:after{
  content: '';
  display: block;
  height: 4px;
  max-width: 88px;
  width: 100%;
  margin: 0 auto;
}

.block{
   width: 24%;
  float: left;
  padding:10px 30px;
}


/**
  * Services
  */
#services{
  background-color: #17c2a4;
  padding:120px 30px;
}



.service-heading .secondary-heading{
  color: #fff;
}

.service-heading .secondary-heading:after{
 
  background: #14a58c;
  
}

.service-heading .secondary-description{
  color: #fff;
  
} 

.our-services{
  margin-top: 80px;
}

// .service-block{
//   width: 24%;
//   float: left;
//   padding:10px 30px;
// }

.service h3{
  margin-top: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
 
}
.service p{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #fff;
}



/**
  * Our Team
  */

#our-team{
  background-color:#e7f1f8;
    padding:120px 30px;
}

#our-team .secondary-heading{
  color: #3c4761;
}

#our-team .secondary-heading:after{
  background: #c8d9e5;
}
#our-team .secondary-description{
  color: #3c4761;
}

.team-member {
    width: 100%;
    height: 199px;
    background: #878787;
    border-radius: 50%;
}

.team h3{
  margin-top: 60px;
  color: #3c4761;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
 
}

.team .position{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color:#48c1e9;

}

.team .member-info{
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: #535e75;
}
/**
  * Footer
  */

footer{
  border-top: 1px solid #fff;
  height: 112px;
  background-color:#344b8e;
  text-align: center;
}



.footer-links li {
  display: inline-block;
     width: 9%;

}

.footer-links > * + * {
  margin-left: 50px;
}


.footer-links li a{
  color: #fff;
  font-size:24px;
  font-weight: 600;
  text-decoration:none; 
  transition: all 0.7s;
}


.footer-links li a:hover{
  color: #319ccf;
}


/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}







/**
 * Lists
 */








/**
 * Headings
 */




/**
 * Links
 */



/**
 * Blockquotes
 */



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */




/**
 * Clearfix
 */



/**
 * Icons
 */
.icon{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color:#bdd1df;
 }

.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: #fff;
  }
}
